/seq-db
/distribution
/seqdb
docker-compose.override.yaml
build-docker/
cmd.test
cpu.out
mem.out
*.docs
*.index
*._index
*.meta
.frac-cache
*.log
logs/
tests/data/complicated_1/raw-docs.json
tests/data/complicated_1/batches
*.test
/bin
mongodb_data
graylog_journal
graylog_data
.DS_Store
.vscode
.idea
coverage-unit.out
cover-tmp.out
cover.out
junit.xml
/go.work*
/data
